<table mat-table [dataSource]="tasks" class="mat-elevation-z8" *ngIf="innerWidth > 576">
  <ng-container matColumnDef="title">
    <th mat-header-cell *matHeaderCellDef>{{'fields.general.title' | translate}}</th>
    <td mat-cell *matCellDef="let task"> {{task.title}} </td>
  </ng-container>

  <ng-container matColumnDef="description">
    <th mat-header-cell *matHeaderCellDef>{{'fields.general.description' | translate}}</th>
    <td mat-cell *matCellDef="let task"> {{task.description}} </td>
  </ng-container>

  <ng-container matColumnDef="done">
    <th mat-header-cell *matHeaderCellDef>{{'fields.general.status' | translate}}</th>
    <td mat-cell *matCellDef="let task"> {{'fields.general.done.' + task.done | translate}} </td>
  </ng-container>

  <ng-container matColumnDef="date">
    <th mat-header-cell *matHeaderCellDef>{{'fields.general.date' | translate}}</th>
    <td mat-cell *matCellDef="let task"> {{task.date | date:'dd/MM/yyyy'}} </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let task; columns: displayedColumns;" (click)="selectTask(task)" [ngClass]="{'expired': !task.done && task.date < today, 'success': task.done}"></tr>
</table>

<div *ngIf="innerWidth <= 576">
  <mat-card *ngFor="let task of tasks | async" [ngClass]="{'expired': !task.done && task.date < today, 'success': task.done}">
    <mat-card-header>
      <mat-card-title>{{task.title}}</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <p>
        {{task.description}}
      </p>
      <p>
        {{task.date | date: 'dd/MM/YYYY'}}
      </p>
      <p>
        {{'fields.general.status' | translate}}: {{'fields.general.done.' + task.done | translate}}
      </p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-raised-button color="primary" (click)="selectTask(task)">{{'buttons.edit' | translate}}</button>
    </mat-card-actions>
  </mat-card>
</div>

