@import '~@angular/material/theming';

.sticky-bottom-wrapper{
  position: absolute;
  left: 0;
  bottom: 0;
  padding: 0;
  width: 100%;
}
.flex-between{
  display: flex;
  justify-content: space-between;
}
.container{
  padding: 20px;
}
.bottom-bar{
  background-color: mat-color($mat-dark-theme-foreground, dividers);
  padding: 10px;
}
